<div class="searched_product_information">
  <div class="searched_product_name"><%= product.name %></div>
  <div class="searched_product_manufacturer"><%= product.manufacturer %></div>
  <div class="searched_product_price">¥<%= product.price%>円(税込)</div>
  <div class="searched_product_category"><%= product.category %></div>
</div>