/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";

/*共通*/
h1{
  text-align: center;
  font-size: 24px;
  margin: 50px;
}

h2{
  font-size: 18px;
  font-weight: 600;
  border-bottom: 0.5px solid lightgray;
}

h3{
  font-size: 15px;
}

.non_responsive_pages{
  padding: 20px;
}

button {
  background-color: transparent; 
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

textarea{
  width: 80%;
  max-width: 600px;
  height: 100px;
  resize: vertical;
}

/*　共通（スマホ用480px以下）*/
@media screen and (max-width: 480px) {
  h1{
    font-size: 20px;
    margin: 40px;
  }
}

/*ヘッダー*/
.header_container{
  display: flex;
  justify-content: space-between;
}

.navbar{
  display: flex;
  width: 100%;
  background-color: rgba(255, 162, 0, 0.746);
}

.logo_search_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title_logo{
  font-family: 'Arial Black';
  font-size: 30px;
  padding: 10px;
}

.title_logo a{
  color: rgba(253, 75, 16, 0.852);
}

.search_form{
  padding: 10px;
}

.search_form input {
  border-radius: 20px;
}

.dropdown{
  padding: 10px;
}

.dropdown-menu{
  right: 0;
}

.dropdown-toggle{
  background-color: rgba(255, 222, 75, 0.931);
  border: 1px solid rgba(253, 75, 16, 0.852);
  border-radius: 50px;
}

.dropdown-toggle::after {
  display: none;
}

.btn-secondary:hover {
  background-color: rgba(249, 229, 143, 0.907);
  border: 1px solid rgba(253, 75, 16, 0.852);
}

.user_name{
  color: rgba(253, 75, 16, 0.852);
  text-align: center;
  border-bottom: 1px solid rgb(248, 111, 65);
}

/* ヘッダー（タブレット用959px以下）*/
@media screen and (max-width: 959px) {
  .sticky-top {
    position: static;
  }
  
  .title_logo{
    font-size: 24px;
    padding: 8px;
  }
  
  .search_form{
    font-size: 12px;
    padding: 6px;
  }
}

	/* ヘッダー（スマホ用480px以下）*/
@media screen and (max-width: 480px) {
  .logo_search_container{
    display: flex;
    flex-direction: column;
  }
  
  .title_logo{
    font-size: 18px;
    padding: 8px;
  }

  .search_form{
    font-size: 10px;
    padding: 8px;
  }
}

/*FV*/
.firstview_title_br{
  display: none;
}

.firstview_container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.firstview_upper_container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.firstview_registration_product_button{
  text-decoration-line: none;
  text-decoration: none;
  color: white;
  font-size: 20pt;
  background-color: rgba(253, 75, 16, 0.852);
  text-align: center;
  padding: 15px 25px;
  border-radius: 40px;
}

.firstview_middle_container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 8px;
}

.firstview_product_images_container{
  display: flex;
  justify-content: space-between;
  margin: 30px;
}

.firstview_product_images{
  max-width: 90px;
  height: auto;
}

.firstview_middle_container_image{
  max-width: 70px;
  height: auto;
}

.firstview_lower_container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.firstview_search_form{
  font-size: 25px;
  padding: 10px;
}

.firstview_search_form input{
  padding: 6px;
  border-radius: 30px;
}

/*ログアウト画面*/
.firstview_registration_message{
  display: flex;
  justify-content: center;
  padding: 5px;
}

.firstview_message_br{
  display: none;
}

.firstview_loggedout_buttons_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.firstview_loggedout_buttons{
  text-decoration-line: none;
  text-decoration: none;
  color: white;
  font-size: 15pt;
  background-color: rgba(253, 75, 16, 0.852);
  text-align: center;
  margin: 5px;
  padding: 15px 25px;
  border-radius: 40px;
}

/* FV（タブレット用959px以下）*/
@media screen and (max-width: 959px) {
  .firstview_title_br{
    display: block;
  }

  .firstview_upper_container{
    width: 90%;
  }

  .firstview_registration_product_button{
    font-size: 14pt;
    padding: 10px 20px;
    border-radius: 30px;
  }

  .firstview_middle_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 8px;
  }

  .firstview_product_images_container a:nth-child(n+5){
    display: none;
  }
  
  .firstview_product_images_container{
    width: 60%;
  }
  
  .firstview_product_images{
    max-width: 23%;
    height: auto;
  }

  .firstview_middle_container_image{
    max-width: 40px;
    height: auto;
  }
 
  .firstview_search_form{
    font-size: 15px;
    padding: 5px;
  }

  /*ログアウト画面*/
  .firstview_message_br{
    display: block;
  }

  .firstview_loggedout_buttons{
    font-size: 10pt;
    font-weight: bold;
    margin: 2px;
    padding: 10px 20px;
  }
}

	/* FV（スマホ用480px以下）*/
  @media screen and (max-width: 480px) {
    .firstview_registration_product_button{
      font-size: 10pt;
      font-weight: bold;
      padding: 10px 15px;
      border-radius: 40px;
    }

    .firstview_middle_container{
      width: 95%;
      margin: 0 5px;
    }

    .firstview_product_images_container{
      width: 40%;
    }

    .firstview_product_images{
      max-width: 48%;
      height: auto;
    }

    .firstview_search_form{
      font-size: 10px;
      padding: 2px;
    }

    /*ログアウト画面*/
    .firstview_registration_message{
      font-size: 12px;
    }

    .firstview_loggedout_buttons_container{
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 15px;
    }
  }

/*商品詳細画面*/
.product_container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.product_info_container{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid lightgray;
  padding: 10px;
}

.product_image_container{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product_image{
  max-height: 150px;
  width: auto;
}

.favorite_button_on{
  color: orange;
  font-size: 15px;
}

.favorite_button_off{
  color: gray;
  font-size: 15px;
}

.product_detail_container{
  width: 60%;
  align-items: center;
}

.product_detail_name{
  font-size: 24px;
  font-weight: 600;
}

.product_detail_manufacturer{
  font-size: 18px;
}

.product_detail_price{
  font-size: 18px;
  font-weight: 600;
}

.product_detail_category{
  font-size: 15px;
}

.product_score_container{
  width: 50%;
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  padding-left: 8px;
}

.product_score_container td{
  padding-left: 20px;
}

.product_starscore_container{
  display: flex;
  justify-content: center;
  font-size: 18px;
  width: 50%;
}

.product_raderchart_container{
  width: 50%;
}

.contributor_container{
  display: flex;
  justify-content: space-between;
}

.contributor_description{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 75%;
  margin: 2%;
  background-image: url(comment3_image.png);
  background-size: 100% 100%;
  background-repeat:no-repeat;
}

.contributor_description_contents{
  margin: 5%;
}

.contributor_infomation{
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.contributor_user_rank{
  font-size: 14px;
}

.contributor_name{
  font-size: 14px;
}

.contributor_image{
  max-height: 100px;
  width: auto;
}

.related_item_container{
  display: flex;
  justify-content: space-between;
}

.item_container{
  width: 25%;
  padding: 8px;
  border: 1px solid lightgray;
}

.rakuten_api{
  font-size: 15px;
}

/*商品詳細画面（タブレット用959px以下）*/
@media screen and (max-width: 959px) {
  .product_info_container{
    flex-direction: column;
    justify-content: center;
    padding: 8px;
  }

  .product_detail_container{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 20px;
  }
  .product_detail_name{
    font-size: 20px;
  }
  
  .product_detail_manufacturer{
    font-size: 15px;
  }
  
  .product_detail_price{
    font-size: 18px;
  }
  
  .product_detail_category{
    font-size: 12px;
  }

  .product_score_container{
    flex-direction: column-reverse;
    justify-content: center;
    padding: 20px;
  }
  
  .product_score_container td{
    padding-left: 8px;
  }
  
  .product_starscore_container{
    justify-content: center;
    font-size: 14px;
    width: 80%;
  }
  
  .product_raderchart_container{
    max-height: 65%;
    width: auto;
  }

  .contributor_description_contents{
    margin: 10%;
  }

  .contributor_user_rank{
    font-size: 10px;
  }
  
  .contributor_name{
    font-size: 12px;
  }
}

/*商品詳細画面（スマホ用480px以下）*/
@media screen and (max-width: 480px) {
  .product_image{
    max-height: 100px;
  }
  
  .favorite_button_on{
    font-size: 10px;
  }
  
  .favorite_button_off{
    font-size: 10px;
  }
  
  .product_detail_container{
    width: 80%;
  }
  
  .product_detail_name{
    font-size: 14px;
    font-weight: 600;
  }
  
  .product_detail_manufacturer{
    font-size: 12px;
  }
  
  .product_detail_price{
    font-size: 12px;
    font-weight: 600;
  }
  
  .product_detail_category{
    font-size: 8px;
  }

  .product_raderchart_container{
    max-height: 65%;
  }

  .product_score_container{
    padding: 5px;
  }

  .product_starscore_container{
    font-size: 5px;
    width: 90%;
  }

  .contributor_description_contents{
    font-size: 12px;
  }

  .contributor_user_rank{
    font-size: 8px;
  }

  .contributor_name{
    font-size: 10px;
  }

  .contributor_image{
    max-height: 60px;
    width: auto;
  }

  .rakuten_api{
    font-size: 10px;
  }
}

/*マイページ*/
.mypage_user_section{
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.mypage_user_image{
  max-width: 100px;
  height: auto;
}

.mypage_user_information_container div{
  margin-top: 10px;
}

.mypage_product_index_message{
  padding-left: 30px;
  font-size: 20px;
  font-weight: 600;
}

.mypage_product_section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid lightgray;
}

.mypage_product_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 20px;
}

.mypage_product_image_container{
  width: 35%;
  display: flex;
  align-items: center;
}

.mypage_product_image{
  max-width: 100px;
  height: auto;
}

.mypage_product_name_favorites{
  display: flex;
  flex-direction: column;
}

.mypage_product_name{
  font-size: 15px;
  font-weight: 600;
}

.mypage_product_favorites{
  font-size: 15px;
  color: orange;
}

.mypage_product_description{
  width: 65%;
  padding: 10px;
}

.edit_delete_link{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 20%;
  align-items: center;
  padding-left: 10px;
}

.edit_delete_link button{
  border: 1px solid;
  border-radius: 40px;
  color: white;
  background-color: rgba(253, 75, 16, 0.852);
  margin: 10px;
  padding: 5px 15px;
}

/*マイページ（タブレット用960px以下）*/
@media screen and (max-width: 960px) {
  .mypage_product_container{
    padding: 10px;
  }

  .mypage_product_image_container{
    flex-direction: column;
    align-items: center;
  }

  .mypage_product_name_favorites{
    align-items: center;
  }

  .mypage_product_name{
    font-size: 12px;
  }

  .mypage_product_favorites{
    font-size: 12px;
  }

  .edit_delete_link{
    padding: 10px;
  }

  .edit_delete_link button{
    margin: 10px 0;
  }
}

/*マイページ（スマホ用480px以下）*/
@media screen and (max-width: 480px) {
  .mypage_user_information_container{
    font-size: 12px;
  }

  .mypage_user_image{
    max-width: 80px;
  }

  .mypage_product_index_message{
    font-size: 15px;
  }

  .mypage_product_container{
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    padding: 8px;
  }

  .mypage_product_image_container{
    flex-direction: row;
    border-bottom: 0.5px solid lightgray;
    width: 100%;
  }

  .mypage_product_name_favorites{
    align-items: flex-start;
  }

  .mypage_product_description{
    font-size: 12px;
    width: 100%;
    padding: 10px;
  }

  .edit_delete_link{
    width: 20%;
    padding-left: 0;
  }

  .edit_delete_link button{
    font-size: 12px;
    margin: 5px;
    padding: 2px 8px;
  }
}

/*アカウント設定変更画面*/
.error_messages{
  font-size: 15px;
}

.account_delete_button{
  border: 1px solid darkgray;
  background-color: whitesmoke;
  border-radius: 2px;
}

/*検索結果画面*/
.searched_container{
  border: 1px solid lightgray;
  display: flex;
}

.searched_container_product_section{
  display: flex;
  width: 75%;
  padding: 20px;
  justify-content: space-between;
}

.searched_product_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}

.searched_product_image{
  max-width: 120px;
  height: auto;
  padding: 8px;
}

.searched_product_information{
  width: 80%;
  padding: 8px;
}

.searched_product_name{
  font-size: 15px;
  font-weight: 600;
}

.searched_product_manufacturer{
  font-size: 12px;
}

.searched_product_price{
  font-size: 15px;
}

.searched_product_category{
  font-size: 10px;
}

.searched_product_description{
  display: flex;
  align-items: center;
  width: 60%;
  padding: 0 10px;
}

.searched_container_user_section{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  padding: 20px;
}

.searched_user_image{
  max-width: 80px;
  height: auto;
}

.searched_user_rank{
  font-size: 12px;
}

.searched_user_name{
  font-size: 12px;
}

/*検索結果画面（タブレット用960px以下）*/
@media screen and (max-width: 960px) {
  .searched_container_product_section{
    display: flex;
    flex-direction: column;
  }

  .searched_product_container{
    border-bottom: 1px solid lightgray;
  }

  .searched_product_image{
    max-width: 100px;
  }

  .searched_product_description{
    width: 100%;
    margin: 20px 20px 20px 0;
  }

  .searched_product_container{
    width: 100%;
  }

  .searched_container_user_section{
    justify-content: center;
    padding: 10px;
  }

  .searched_user_image{
    max-width: 60px;
  }
  
  .searched_user_rank{
    font-size: 12px;
  }
  
  .searched_user_name{
    font-size: 12px;
  }
}

/*検索結果画面（スマホ用480px以下）*/
@media screen and (max-width: 480px) {
  .searched_container_product_section{
    padding: 5px;
  }

  .searched_product_container{
    border-bottom: 0.5px solid lightgray;
  }

  .searched_product_image{
    max-width: 90px;
  }

  .searched_product_name{
    font-size: 12px;
  }

  .searched_product_manufacturer{
    font-size: 10px;
  }

  .searched_product_price{
    font-size: 12px;
  }

  .searched_product_category{
    font-size: 5px;
  }

  .searched_product_description{
    font-size: 12px;
    margin: 5px 5px 5px 0;
  }

  .searched_container_user_section{
    padding: 5px;
  }

  .searched_user_image{
    max-width: 40px;
  }
  
  .searched_user_rank{
    font-size: 5px;
  }
  
  .searched_user_name{
    font-size: 5px;
  }
}
