<p>こんにちは <%= @resource.email %>さん</p>

<p>パスワード再設定のリクエストが送信されました。下記のリンクからパスワードの再設定が可能です。</p>

<p><%= link_to 'パスワードの再設定はこちら', edit_user_password_url(@resource, reset_password_token: @token) %></p>

<p>パスワードは、上記のリンクにアクセスし、新しいパスワードを作成するまで変更されません。</p>

<p>本メールに心当たりのない場合は削除してください。</p>