<h1>商品一覧</h1>

<div>
  <% @products.each do |product| %>
    <p><%= link_to "#{product.name}", product %></p>
  <% end %>
</div>

<%= link_to "ペットカメラ情報", "https://www.biccamera.com/bc/i/topics/osusume_networkcamera/index.jsp", target: :_blank %>

<div><%= link_to "商品登録", new_product_path %></div>
<%= link_to "戻る", 'javascript:history.back()' %>
