<div class="product_detail_container">
  <div class="product_detail_name"><%= product.name %></div>
  <div class="product_detail_manufacturer"><%= product.manufacturer %></div>
  <div class="product_detail_price">¥<%= product.price %>（税込）</div>
  <div class="product_detail_category">カテゴリ：<%= product.category %></div>
</div>
